@charset "UTF-8";
/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
  margin: 0;
  padding: 0;
}

/* Reiknum stærð á öllum boxum sem border-box */
html {
  box-sizing: border-box;
}

/* og látum erfast á allt */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* hjálpar class sem felur sjónrænt en skjálesarar lesa */
.sr-only:not(:focus, :active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Stillingar */
:root {
  --font-size-base: 16px;
  --font-size-headings: 1.5rem;
  /* Grunn bilið okkar er 1rem == 16px */
  --spacing: 1rem;
  /* Bil á milli „stærri“ eininga (header, efnisbox, footer) */
  --vertical-space: calc(var(--gutter) * 1);
  --vertical-space-large: calc(var(--gutter) * 1.5);
  /* Hámarks og lágmarks breidd á efni */
  --max-width: 1290px;
  --min-width-image: 200px;
  --max-width-image: 300px;
  --max-width-footer-section: 250px;
  /* Border breiddir */
  --border-width: 1px;
  --border-radius-regular: 5px;
  --border-radius-image: 10px;
  --border-regular: 1px solid #000; /* todo longhand */
  --border-with-background: 4px solid #c9b;
  /* Grid stillingar */
  --columns: 12;
  --gutter: 30px;
  --offset: 20px;
  /* Breidd á efni með offset */
  --width-offset: calc(100% - (2 * var(--offset)));
  /* Litir */
  /** Litir með nafni **/
  --color-yellow: #f3dd99;
  --color-white: #fff;
  --color-black: #000;
  --color-brown: #e3cdb1;
  --color-grey-text: #d0d0d0;
  --color-medium-grey-text:#9B9B9B;
  --color-dark-grey-text: #5E5B69;
  --color-cream: #f7f1eb;
  --color-grey: #fafafa;
  --color-light-grey: #E7E7E7;
  /** Litir með notkun **/
  --color-background-primary: var(--color-white);
  --color-background-secondary: var(--color-cream);
  /* Letur stillingar */
  --font-base-size: 1rem;
  --font-family-base: "Poppins", arial, helvetica, sans-serif;
  --font-family-heading: "PlayFair", "Comic Sans MS", cursive;
  /* Transitions */
  --transition-time-short: 300ms;
  --transition-time-long: 600ms;
  --transition-timing-function: ease-in-out;
}

/* header */
.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 3;
  left: 0;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li {
  max-width: 290px;
  max-height: 112px;
  margin-left: 15px;
}

.header li a {
  display: block;
  padding: 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  text-align: center;
  font-size: 60px;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  background: var(--color-grey);
}

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon::before,
.header .menu-icon .navicon::after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon::before {
  top: 5px;
}

.header .menu-icon .navicon::after {
  top: -5px;
}

/* menu btn */
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  height: 510px;
  max-height: 570px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon::before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon::after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon::before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon::after {
  top: 0;
}

@media (width >= 800px) {
  .header {
    min-height: auto;
    max-width: var(--max-width);
    left: auto;
    background: var(--color-grey);
  }
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
    font-size: 20px;
    border: none;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
    background: var(--color-grey);
  }
  .header .menu-icon {
    display: none;
  }
}
.fb {
  background-image: url("../myndir/Facebook-Icon.png");
}

.tw {
  background-image: url("../myndir/Twitter-Icon.png");
}

.yt {
  background-image: url("../myndir/Youtube-Icon.png");
}

footer {
  width: 100%;
}

.efri-footer input {
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

.efri-footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.efri-footer p {
  margin-top: 3rem;
  color: var(--color-brown);
  font-size: 12px;
}
.efri-footer button {
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: var(--color-brown);
  padding: 0 2rem;
  margin-top: 2rem;
}
.efri-footer h1 {
  padding-bottom: 2rem;
}
.efri-footer label {
  text-align: left;
  display: inline-block;
  width: 100%;
}

input {
  text-align: left;
  display: flex;
  width: 100%;
  background-color: transparent;
  border-bottom-color: var(--color-brown);
}

@media (min-width: 1000px) {
  .efri-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 4rem;
    padding-bottom: 4rem;
    align-items: flex-end;
  }
  .efri-footer p {
    text-align: left;
  }
  .efri-footer button {
    margin-top: 0rem;
    margin-bottom: 0rem;
    color: var(--color-brown);
    box-sizing: content-box;
    padding: 0 2rem;
    margin-top: 0rem;
  }
  .efri-footer h1 {
    margin-bottom: -2rem;
  }
  .efri-footer p {
    margin-top: 0rem;
  }
  .efri-footer label {
    text-align: left;
    width: 100%;
  }
}
.nedri-footer {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.nedri-footer p {
  text-align: center;
}
.nedri-footer .socials {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/** Meginmál og efni forsíðu **/
main {
  width: 100%;
  padding-top: 4rem; /* fyrir topnav */
}

/**
* notum þetta til að fá bil á milli eininga _almennt_
* en ekki að hver eining þurfi að huga að bili
*/
main > .content {
  display: flex;
  flex-direction: column;
  gap: var(--vertical-space-large);
}

/*** Inngangsefni á forsíðu ***/
.intro {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  height: 490px;
}
.intro div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing);
}

.intro-1 div {
  padding-top: 7rem;
}

.intro-recipie {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  height: 490px;
}
.intro-recipie .a-little-off-the-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing);
  padding-top: 3rem;
}
.intro-recipie .a-little-to-the-right {
  padding-left: 20px;
}

.instructions {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  align-self: flex-start;
  gap: var(--spacing);
}

.nedra-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--vertical-space-large);
  height: 490px;
  align-items: center;
}
.nedra-intro div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing);
}
.nedra-intro img {
  width: 205px;
  height: 272px;
}

.intro-background {
  background-image: url("../myndir/Background-Header-Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 -20px; /* svo thad ignore-ar width offset */
  background-position-y: -60px;
}

.hidden-pie {
  order: 1;
  display: none;
}

.intro-2 {
  display: flex;
  align-items: center;
  gap: var(--vertical-space-large);
  margin-top: 4rem;
}
.intro-2 img {
  width: 205px;
  height: 272px;
  box-shadow: -5px 5px 4px rgba(0, 0, 0, 0.1);
}
.intro-2 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing);
  text-align: center;
}
.intro-2 p {
  color: var(--color-dark-grey-text);
}
.intro-2 .desktop-text {
  display: none;
}

.intro-text {
  display: none;
}

.texti-og-cards {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  align-items: center;
  margin: 0 20px;
}
.texti-og-cards section p {
  text-align: center;
  font-weight: 300;
  font-size: 12px;
}
.texti-og-cards button {
  margin-top: 2rem;
}

.hvitt-og-gratt-bg {
  background: linear-gradient(to bottom, var(--color-white) 0%, var(--color-white) 19.6%, var(--color-grey) 19.6%, var(--color-grey) 100%);
  margin: 0 -20px; /* svo thad ignore-ar width offset */
}

.hvitt-og-brunn-bg {
  background: linear-gradient(to bottom, var(--color-cream) 0%, var(--color-cream) 76%, var(--color-white) 76%, var(--color-white) 100%);
  margin: 0 -20px; /* svo thad ignore-ar width offset */
}

/** Cards **/
.cards {
  display: grid;
  grid-template-rows: auto;
  gap: var(--vertical-space);
  justify-items: center;
  width: 100%;
}

.cards-1 > *:nth-last-child(-n+3) {
  display: none;
}

.cards-2 > *:nth-last-child(1) {
  display: none;
}

.cards > .title {
  width: 100%;
  text-align: center;
}

.cards > .content {
  display: grid;
  grid-template-rows: auto;
  gap: var(--vertical-space);
  justify-items: center;
  width: 100%;
}

.latest .cards {
  margin-top: var(--vertical-space);
}

.method {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.ingredients {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.ingredients div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ingredients div div {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: flex-end;
}

.gapmaker {
  display: flex;
  flex-direction: column;
  gap: calc(2 * var(--spacing));
}

.twoin1 {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
}

.appearlater {
  display: none;
}

.changerow {
  display: flex;
  flex-direction: column;
  gap: var(--vertical-space-large);
}

.method-gap {
  gap: calc(0.5 * var(--spacing));
}

@media (width >= 500px) {
  .intro-recipie {
    flex-direction: row;
  }
}
@media (width >= 800px) {
  main {
    padding-top: 2rem;
  }
  .intro-background {
    margin: 0;
    background: var(--color-grey);
  }
  .intro {
    position: relative;
    overflow: hidden;
    height: 768px;
  }
  .intro div {
    width: 50%;
    display: flex;
    align-items: baseline;
    max-width: 552px;
    padding-left: 2px;
  }
  .intro div h1 {
    font-size: 60px;
  }
  .intro div p {
    font-size: 18px;
    color: var(--color-dark-grey-text);
  }
  .intro-text {
    display: block;
  }
  .intro-2 {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: var(--gutter);
  }
  .intro-2 .mobile-text {
    display: none;
  }
  .intro-2 .desktop-text {
    display: block;
  }
  .intro-2 img {
    max-width: 471px;
    max-height: 626px;
    width: 100%;
    height: 100%;
    grid-column-end: 12;
    grid-column-start: 7;
  }
  .intro-2 div {
    grid-column-end: 7;
    grid-column-start: 2;
    width: 100%;
  }
  .intro-2 div > *:nth-last-child(2) {
    text-align: left;
  }
  .intro-2 div h1 {
    text-wrap: nowrap;
  }
  .hidden-pie {
    display: block;
    position: absolute;
    bottom: -485px;
    right: -220px;
    z-index: 1;
    width: 890px;
    height: 1336px;
    max-width: 890px;
  }
  .hvitt-og-brunn-bg {
    margin: 0;
    background: transparent;
  }
  .hvitt-og-gratt-bg {
    background: transparent;
  }
}
@media (min-width: 1000px) {
  .texti-og-cards section {
    width: 100%;
  }
  .texti-og-cards section p, .texti-og-cards section h3 {
    text-align: left;
  }
  .cards {
    grid-template-columns: repeat(calc(var(--columns)), 1fr);
    grid-template-rows: auto;
  }
  .cards-1 > *:nth-last-child(-n+3) {
    display: flex;
  }
  .cards-2 > *:nth-last-child(1) {
    display: flex;
  }
  .intro-text {
    display: block;
  }
  .intro-background {
    margin: 0;
  }
  .instructions {
    display: flex;
    flex-direction: row;
    padding-left: 0px;
  }
  .intro-recipie .a-little-off-the-top {
    margin-left: 135px;
    align-items: start;
    margin-top: 120px;
  }
  .a-little-to-the-right {
    display: none;
  }
  .appearlater {
    display: flex;
    max-width: 550px;
  }
  .changerow {
    display: flex;
    flex-direction: row;
  }
  .method {
    max-width: 55vw;
  }
  .changerow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 135px;
    gap: 120px;
  }
  .changerow h3 {
    font-size: 30px;
  }
  .ingredients {
    min-width: 250px;
  }
  .method-gap {
    flex-direction: column;
  }
}
/** Card **/
.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 290px;
  width: 100%;
}

.card > .image {
  width: 100%;
}

.card > .image img {
  display: block;
  width: 100%;
  height: 206px;
  object-fit: cover;
  object-position: 50% 50%;
}

.card > .content {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: var(--spacing);
  justify-content: space-between;
  border-top: 0;
  border-bottom-left-radius: var(--border-radius-regular);
  border-bottom-right-radius: var(--border-radius-regular);
  max-height: 71px;
}
.card > .content .vinstri {
  gap: var(--spacing);
  padding: var(--spacing);
}
.card > .content .vinstri p {
  text-align: left;
}
.card > .content .haegri {
  padding: calc(var(--spacing) * 2) var(--spacing) var(--spacing) var(--spacing);
}

/**
   * notum nýja selectora! brotið niður
   * .card            <- veljum öll .card
   * :not(            <- nema, við viljum ef _ekki_...
   *   :has(> .image) <- .image sem strangt barn .card
   * )                <- endir á :not()
   * > .content       <- sem er strax barn af .card
   * Þ.e.a.s. fyrir .card sem hefur ekki .image, setja border + radíus á allt .content
   */
.card:not(:has(> .image)) > .content {
  border: var(--border-regular);
  border-radius: var(--border-radius-regular);
}

.card > .content > .text {
  flex: 1;
}

.card > .content > .actions {
  display: flex;
  justify-content: space-between;
  margin-top: var(--spacing);
}

@media (width >= 800px) {
  .card > .content {
    max-height: 93px;
  }
}
@media (width >= 1000px) {
  .card {
    grid-column: span 4;
    justify-content: center;
    height: 383px;
  }
  .card > .image img, .card .image {
    height: 290px;
  }
}
/**
* Eftirfarandi setur upp grunn umbrot (layout) síðu með flexbox.
* Við förum yfir flexbox í viku 4 en þangað til er hægt að nota þetta
* sem grunn og án breytinga.
* Athugið að til þess að þetta virki þar að setja <div class="wrapper"> utan um allt efni 
* innan <body>.
*/
.wrapper {
  /* Notum grid hér til að setja upp bil á milli header, meginmáls og fóts */
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  /* grid items eru miðjuð */
  justify-items: center;
  gap: var(--vertical-space);
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom, var(--color-white) 0%, var(--color-white) 20%, var(--color-grey) 20%, var(--color-grey) 60%, var(--color-white) 60%, var(--color-white) 70%, var(--color-grey) 100%);
}

@media (width >= 800px) {
  .wrapper {
    gap: var(--vertical-space-large);
    background: linear-gradient(to bottom, var(--color-grey) 0%, var(--color-grey) 22.5%, var(--color-white) 22.5%, var(--color-white) 30.5%, var(--color-grey) 30.5%, var(--color-grey) 51%, var(--color-brown) 51%, var(--color-brown) 69%, var(--color-white) 69%, var(--color-white) 81%, var(--color-grey) 81%, var(--color-grey) 100%);
  }
}
.wrapper .wrapper-content {
  width: var(--width-offset);
  max-width: var(--max-width);
}

.wrapper .wrapper-nav {
  margin-bottom: var(--spacing);
}

@media (width >= 800px) {
  .wrapper .wrapper-content {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: var(--gutter);
  }
  .wrapper .wrapper-nav {
    grid-column: span 0;
  }
  .wrapper .wrapper-main {
    grid-column: span 12;
  }
}
.bigbuttons {
  width: 191px;
  height: 42px;
  display: block;
  background: linear-gradient(to right, var(--color-brown) 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  border: 1px solid var(--color-brown);
}

.buttons {
  width: 191px;
  height: 42px;
  display: block;
  background: linear-gradient(to right, var(--color-brown) 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  border: 1px solid var(--color-brown);
  color: var(--color-brown);
}

.bigbuttons:hover,
.buttons:hover {
  background-position: left bottom;
  color: white;
}

.buttonlayout {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.buttonlayout a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (width >= 800px) {
  .buttons {
    width: 250px;
  }
  .button-border {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .button-border:before,
  .button-border:after {
    content: "";
    position: absolute;
    border-bottom: 1px solid var(--color-light-grey);
    top: 70%;
    width: calc(50% - 205px);
  }
  .button-border:before {
    left: 0;
  }
  .button-border:after {
    right: 0;
  }
}
/** Letur og stærðir **/
/*** Grunnstærð er 16px ***/
html {
  font-size: var(--font-size-base);
}

/*** Leturgerðir sem við sækjum úr fonts/ möppu ***/
@font-face {
  font-family: PlayFair;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf") format("woff2");
}
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Poppins/Poppins-Regular.ttf") format("woff2");
}
/*** Allt meginmál notar open sans ***/
html,
input,
select,
button {
  font-family: var(--font-family-base);
}

/*** Allar fyrirsagnir nota Matemasie regular ***/
h1,
h2,
h3,
h4,
legend {
  font-family: var(--font-family-heading);
}

/** Lætur myndir aldrei taka meira pláss en foreldri skilgreinir **/
img {
  max-width: 100%;
}

/** Litur á hlekkjum erfist frá foreldri **/
a {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
}

.brown-text {
  color: var(--color-brown) !important;
}

.grey-text {
  color: var(--color-grey-text);
}

.medium-text {
  color: var(--color-medium-grey-text);
}

.dark-text {
  color: var(--color-dark-grey-text);
}

.smalltext {
  font-size: 12px;
}

.split-text {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.split-text::before {
  content: "Check out";
  z-index: 1;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  color: var(--color-grey-text);
}

.card a {
  color: var(--color-brown);
}

.card p {
  color: var(--color-grey-text);
}

/*# sourceMappingURL=styles.css.map */
