.wrapper {
  /* Notum grid hér til að setja upp bil á milli header, meginmáls og fóts */
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;

  /* grid items eru miðjuð */
  justify-items: center;
  gap: var(--vertical-space);
  width: 100%;
  min-height: 100vh;

}

.forsidu-wrapper {
  background: linear-gradient(to bottom,
  var(--color-white) 0%,
  var(--color-white) 20%,
  var(--color-grey) 20%,
  var(--color-grey) 60%,
  var(--color-white) 60%,
  var(--color-white) 70%,
  var(--color-grey) 100%);
}

@media (width >=800px) {
  .wrapper {
    gap: var(--vertical-space-large);

  }

  .forsidu-wrapper {
    background: linear-gradient(to bottom,
    var(--color-grey) 0%,
    var(--color-grey) 22.06%,
    var(--color-white) 22.06%,
    var(--color-white) 30.5%,
    var(--color-grey) 30.5%,
    var(--color-grey) 51%,
    var(--color-brown) 51%,
    var(--color-brown) 69%,
    var(--color-white) 69%,
    var(--color-white) 81%,
    var(--color-grey) 81%,
    var(--color-grey) 100%);
  }
}

.wrapper .wrapper-content {
  width: var(--width-offset);
  max-width: var(--max-width);
}

.wrapper .wrapper-nav {
  margin-bottom: var(--spacing);
}

@media (width >=800px) {
  .wrapper .wrapper-content {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: var(--gutter);
  }

  .wrapper .wrapper-nav {
    grid-column: span 0;
  }

  .wrapper .wrapper-main {
    grid-column: span 12;
  }
}
